.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  padding: 2rem;

  @include respond(small) {
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1rem;
  }
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  padding: 2rem;

  @include respond(small) {
    grid-template-columns: 1fr; // Force one card per row
    padding: 1rem;
    gap: 1rem;
  }
}
