
.btn {
 padding: 0.75rem 1.5rem;
 border-radius: 6px;
 font-weight: bold;
 background-color: gray;
 color: white;
 cursor: pointer;
 width: 250px;
&__icon {
   margin-right: 0.5rem;
 }
&--primary {
   background-color: $primary-color;
   margin: auto;
   margin-bottom: 0.5rem;
 }
&--outline {
   background-color: transparent;
   border: 2px solid $primary-color;
   color: $primary-color;
 }
}