$primary-color: #710f0f;
$secondary-color: #6c757d;
$success-color: #28a745;
$warning-color: #ffc107;
$danger-color: #dc3545;
$info-color: #17a2b8;

$font-stack: 'Segoe UI', sans-serif;

$card-bg: #f9f9f9;

$card-bg-gradient: linear-gradient(135deg, #007bff 0%, #00c6ff 100%);
// Text colors
$text-color: #787373;
$text-muted: #555;

// Border and shadow
$border-color: #e0e0e0;
$card-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
$card-shadow-hover: 0 6px 16px rgba(0, 0, 0, 0.1);
